<header>
  <h1>
    <%= @exception.original_exception.class.to_s %> in
    <%= @request.parameters["controller"].camelize if @request.parameters["controller"] %>#<%= @request.parameters["action"] %>
  </h1>
</header>

<div id="container">
  <p>
    Showing2 <i><%= @exception.file_name %></i> where line <b>#<%= @exception.line_number %></b> raised:
  </p>
  <pre><code><%= h @exception.message %></code></pre>

  <%= render template: "rescues/_source" %>

  <p><%= @exception.sub_template_message %></p>

  <%= render template: "rescues/_trace" %>

  <%= render template: "rescues/_request_and_response" %>

  <% if @show_routes %>
    <%= render template: "rescues/_routes" %>
  <% end %>

</div>
